@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Barrio|Syncopate');


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 400px;
  padding: 100px;
  float: left;

}

.App-header {
  height: auto;
  padding: 20px;
}

.App-title {
  left: 0;
  position:absolute;
  text-align:center;
  top: 30px;
  width: 100%
}

.App-subtitle {
  font-size: 150%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title-div {
  font-family: 'Syncopate', sans-serif;
  left: 0;
  position:absolute;
  text-align:center;
  top: 200px;
  width: 100%
}
